.spriteImg{background-image:url(/assets/img/share/icon_sprite_36x36.png);}
.sprite_icon_facebook_36x36_png{background-position:0px 0px;width:36px;height:36px;}
.sprite_icon_google_36x36_png{background-position:0px -37px;width:36px;height:36px;}
.sprite_icon_hatena_36x36_png{background-position:0px -74px;width:36px;height:36px;}
.sprite_icon_line_36x36_png{background-position:0px -111px;width:36px;height:36px;}
.sprite_icon_mail_36x36_png{background-position:0px -148px;width:36px;height:36px;}
.sprite_icon_mixi_36x36_png{background-position:0px -185px;width:36px;height:36px;}
.sprite_icon_twitter_36x36_png{background-position:0px -222px;width:36px;height:36px;}
